html{
    font-size: 1.5vmax;
    font-family: monospace;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-image: linear-gradient(#ffc482,  #f69988, #ba87a6);
}

p{
    margin: 0.19em;
}

ul{
    list-style: none;
    display: block;
}

li + li {
    margin-top: 1em;
 }

li{
    background-color: white;
    position: relative;
    border-bottom-left-radius: 1vmax 1vmax;
    border-bottom-right-radius: 1vmax 1vmax;
    border-top-left-radius: 1vmax 1vmax;
    border-top-right-radius: 1vmax 1vmax;
    padding: 1em;
    box-shadow: 0 0.2em 0.7em 0em rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
    display: flex;
    flex-direction: row;
}

li:hover{
    transform: translateX(1.5em);
    margin: 1.5em 0 1.5em 0; 
    box-shadow: 0 0.4em 0.8em 0em rgba(0, 0, 0, 0.4);
}

.t1{
    width: 100%;
    margin: 1em 0 1em 0;
    font-weight: bold;
    font-size: larger;
}

.t2{
    font-weight: bold;
    font-style: italic;
}

.simple-button{
    max-width: fit-content;
    max-height: fit-content;
    border-style: solid;
    border-width: 0.15vmax;
    border-color: rgba(38, 38, 136, 0);
    color: white;
    background-color: #f69988; 
    padding: 1vmax;
    font-size: 1.2vmax;
    border-bottom-left-radius: 5vmax 5vmax;
    border-bottom-right-radius: 5vmax 5vmax;
    border-top-left-radius: 5vmax 5vmax;
    border-top-right-radius: 5vmax 5vmax;
    transition: all 0.2s;
}

.simple-button:hover{
    background-color: #ffc482;
    color: white;
    border-color: rgba(38, 38, 136, 0);
}

.simple-button:active{
    background-color: white;
    color: #ba87a6;
    border-color: #ba87a6;
}

details > summary{
    cursor: pointer;
    max-width: fit-content;
    max-height: fit-content;
    border-style: solid;
    border-width: 0.15vmax;
    border-color: rgba(38, 38, 136, 0);
    color: white;
    background-color: #f69988; 
    padding: 1vmax;
    font-size: 1.2vmax;
    border-bottom-left-radius: 5vmax 5vmax;
    border-bottom-right-radius: 5vmax 5vmax;
    border-top-left-radius: 5vmax 5vmax;
    border-top-right-radius: 5vmax 5vmax;
}

details > summary:hover{
    background-color: #ffc482;
    color: white;
    border-color: rgba(38, 38, 136, 0);
}

details[open] > summary:hover{
    background-color: #ba87a6;
    color: white;
    border-color: rgba(38, 38, 136, 0);
}

details[open] > summary{
    background-color: white;
    color: #ba87a6;
    border-color: #ba87a6;
}

.button-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-plate{
    max-height: min-content;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.3em;
    row-gap: 0.3em;
}