html{
    font-size: 1.5vmax;
    font-family: monospace;
}

body {
    min-height: 100vh;
    padding-left: 1.5vmax;
}

p{
    margin: 0.19em;
}

.t1{
    width: 100%;
    margin: 1em 0 1em 0;
    font-weight: bold;
    font-size: larger;
}

.t2{
    
}

.t3{

}

.simple-button{
    max-width: fit-content;
    max-height: fit-content;
    border-style: solid;
    border-width: 0.15vmax;
    border-color: rgba(38, 38, 136, 0);
    color: white;
    background-color: #f69988; 
    padding: 1vmax;
    font-size: 1.2vmax;
    border-bottom-left-radius: 30% 50%;
    border-bottom-right-radius: 30% 50%;
    border-top-left-radius: 30% 50%;
    border-top-right-radius: 30% 50%;
    transition: all 0.2s;
}

.simple-button:hover{
    background-color: #ffc482;
    color: white;
    border-color: rgba(38, 38, 136, 0);
}

.simple-button:active{
    background-color: white;
    color: #ba87a6;
    border-color: #ba87a6;
}