
.client{
    max-width: 30%;
    align-content: flex-end;
    justify-content: space-between;
}

.client button{
    display: inline-flex;
    align-self: auto;
}

.client-info{
    max-height: min-content;
    display: inline-flex;
    flex-direction: column;
}

.client-txt{
    display: inline-flex;
    flex-direction: column;
}

.client-list{
    list-style: none;
    display: block;
}

ul {
    border-bottom-left-radius: 1% 5%;
    border-bottom-right-radius: 1% 5%;
    border-top-left-radius: 1% 5%;
    border-top-right-radius: 1% 5%;
    padding: 1em;
    box-shadow: 0 0.2em 0.7em 0em rgba(0, 0, 0, 0.4);
    transition: margin 0.4s, box-shadow 0.4s;
}

ul:hover{
    margin: 1.5em 0 1.5em 1.5em; 
    box-shadow: 0 0.4em 0.8em 0em rgba(0, 0, 0, 0.4);
}